<div class="attack-dialog">
    <div class="unit-summary">
        {{#if dropped.attackers.display}}
        <details class="units">
            <summary>
            {{#each models as | model |}}
                <div>
                    {{model.num}}x {{model.name}}
                </div>
            {{/each}}
            </summary>
            <div class="dropped">
                <hr>
                {{#if dropped.attackers.range}}
                    <div>
                        out of range:
                    </div>
                    {{#each dropped.attackers.range as | model |}}
                        <div>
                            {{model.num}}x {{model.name}}
                        </div>
                    {{/each}}
                {{/if}}
                {{#if dropped.attackers.weapon}}
                    <div>
                        lacks {{weapon.name}}:
                    </div>
                    {{#each dropped.attackers.weapon as | model |}}
                        <div>
                            {{model.num}}x {{model.name}}
                        </div>
                    {{/each}}
                {{/if}}
                <hr>
            </div>
        </details>
        {{else}}
        <div class="units">
            {{#each models as | model |}}
                <div>
                    {{model.num}}x {{model.name}}
                </div>
            {{/each}}
        </div>
        {{/if}}
        <div>attack</div>
        <div class="targets">
            {{#each targets as | target |}}
                <div>
                    {{target.num}}x {{target.name}}
                </div>
            {{/each}}
        </div>
        <div>with</div>
        <div class="weapon">
            {{weapon.name}}
            <span class="weapon-tag">{{weapon.tagstring}}</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div>
            <label for="hitroll">hit roll bonus</label>
            <input id="hitroll" name="hitroll" type="text" value="{{hitrollBonus}}" style="width: -webkit-fill-available" data-dtype="Number"/>
        </div>
        <div>
            <label for="woundroll">wound roll</label>
            <input id="woundroll" name="woundroll" type="text" value="{{woundrollBonus}}" style="width: -webkit-fill-available" data-dtype="Number"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input id="overwatch" type="checkbox" name="overwatch" {{checked shouldOverwatch}} data-dtype="Boolean" onchange="document.getElementById('overwatch-value').disabled = !this.checked">
            <label for="overwatch" style="min-width: fit-content;">Fire Overwatch</label>
            <input id="overwatch-value" name="overwatch-value" type="number" {{#unless shouldOverwatch}}disabled{{/unless}} value="6" min="1" max="6" style="width: 1.5em;text-align: center;margin-left: 0.5em;" data-dtype="Number"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input id="cover" type="checkbox" name="cover" {{checked target.system.modiefiers.cover}} data-dtype="Boolean">
            <label for="cover">has cover?</label>
        </div>
    </div>
    <hr>
    <div class="tags">
        {{#each weapon.items as | tag |}}
            {{#if tag.system.optional}}
                <input id="{{tag._id}}" type="checkbox" name="optionaltags" {{checked item.system.optional}} data-dtype="Boolean">
                <label for="optional">{{tag.name}} {{tag.system.value}}</label>
            {{/if}}
        {{/each}}
    </div>
</div>